@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
html,
button {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 65%;
  width: 95%;
  margin: auto;
}

.nav {
  background-color: #131313;

  .burger {
    display: none;

    div {
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: 5px;
    }
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }

  .logo {
    cursor: pointer;

    .logo-img {
      filter: invert(100%);
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }

  ul {
    display: flex;
    justify-content: space-around;
  }

  li {
    list-style: none;
    margin-right: 50px;
    text-transform: uppercase;
    font-size: 12px;

    a {
      text-decoration: none;
      color: #fff;
      letter-spacing: 0.1rem;
      font-weight: 500;
      padding-bottom: 5px;

      &:hover {
        border-bottom: 1px solid white;
        color: grey;
      }
    }

    i {
      color: white;
      padding: 0 5px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        color: grey;
      }
    }
  }
}

.hero {
  height: 95vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  background-image: url("../images/hero.png");
  background-size: cover;

  .hero-text {
    margin-top: 16rem;
  }

  .hero-header {
    font-size: 3.2rem;
    margin: 0;
  }

  .hero-caption {
    font-size: 1.5rem;
  }

  button {
    margin-top: 3rem;
    border: none;
    background-color: #131313;
    color: white;
    padding: 1.5rem 6rem;
    letter-spacing: 0.1rem;
    cursor: pointer;

    &:hover {
      background-color: #000;
      color: white;
    }
  }
}

#about {
  background-color: #fff;
}

.slice {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 320px;
  width: 60%;
  line-height: 1.6;

  .slice-header {
    font-size: 2.4rem;
    margin-bottom: 1rem;
  }

  .slice-text {
    font-size: 1.1rem;
  }
}

#services {
  background-color: #131313;
}

.two-column {
  display: flex;
  color: white;
  min-height: 320px;
  line-height: 1.6;
  padding: 2.4rem 0;

  .service-header {
    font-size: 2.4rem;
    margin-bottom: 2rem;
    color: white;
  }

  .service-text {
    font-size: 1rem;
    color: #9a9a9a;
    padding-right: 1rem;
  }

  .text-left {
    margin-right: 1.5rem;
  }
}

#contact {
  background-color: #fff;
  height: 100%;
}

.contact-wrapper {
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 100%;
  background-color: #dde5e5;
  padding: 3rem;
  display: flex;

  .contact-header {
    font-size: 2.4rem;
    margin-top: -2rem;
    margin-bottom: 1rem;
  }

  .contact-message {
    flex: 50%;
    line-height: 1.6;
    font-size: 1rem;
    margin: 1rem;
  }

  .contact-form {
    background-color: #131313;
    color: white;
    padding: 4rem;
    flex: 50%;
    margin-left: 0.5rem;
    height: 100%;
  }

  .form-header {
    text-align: center;
    color: #9a9a9a;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: "Libre Baskerville", serif;
  }

  .form-input {
    height: 50px;
    margin-bottom: 2rem;
    width: 100%;
    border: none;
  }

  label {
    display: inline-block;
    margin-bottom: 0.4rem;
  }

  .phone-number {
    display: flex;

    .code {
      width: 80px;
      height: 50px;
      margin-right: 0.7rem;
      padding: 0.5rem;
    }

    .phone {
      width: 100%;
      height: 50px;
      padding: 0.5rem;
    }
  }

  button {
    margin-top: 1.5rem;
    padding: 1.2rem 5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
  }
}

footer {
  background-color: #131313;
  height: 177px;

  .footer {
    height: 177px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright {
    font-family: "Times New Roman", Times, serif;
    color: #777777;
    font-size: 0.8rem;

    a {
      text-decoration: none;
      color: #777777;
    }
  }

  .information {
    font-family: "Times New Roman", Times, serif;
    color: #777777;
    font-size: 0.8rem;
    margin-right: 0;
    text-align: right;
  }
}

@media screen and (max-width: 1324px) {
  body {
    display: none;
  }
}
